* {
  box-sizing: border-box;
}

.calculator {
  background-color: #03045E;
  max-width: 400px;
  min-width: 400px;
  min-height: 600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 25px;
  align-items: center;
}

.screen {
  border: 2px solid black;
  border-radius: 15px;
  color: #0077B6;
  background-color: green;
  width: 400px;
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 50px;
}

.delete,
.all-clear {
  background-color: #00B4D8;
}

.button {
  background-color: #90E0EF;
}

.divide,
.multiply,
.add,
.subtract {
  background-color: #CAF0F8;
}

.delete,
.all-clear,
.button,
.divide,
.multiply,
.add,
.subtract {
  border: none;
}