* {
  box-sizing: border-box;
}

.calculator {
  background-color: #03045E;
  max-width: 300px;
  min-width: 300px;
  min-height: 500px;
  max-height: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 25px;
  align-items: center;
}

.screen {
  border: 2px solid black;
  border-radius: 15px;
  color: #0077B6;
  background-color: green;
  width: 300px;
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 10px;
}

.delete,
.all-clear {
  background-color: #00B4D8;
  margin-top: 10px;
  min-height: 50px;
  min-width: 50px;
}

.delete {
  margin-left: 204.92px;
}

.all-clear {
  margin-left: -10px;
}

.numbers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.zero {
  grid-area: zero;
  border-radius: 0px 0px 0px 25px;
}

.subtract {
  border-radius: 0px 0px 25px 0px;
}

.digit {
  background-color: #90E0EF;
  border-color: white;
}

.button {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    ". . ."
    ". . ."
    ". . ."
    "zero zero zero";
}

.divide,
.multiply,
.add,
.subtract {
  background-color: #CAF0F8;
  min-height: 82px;
}

.operations {
  display: grid;
}